<script id="PayrollTemplate" type="text/ng-template">
    <div class="page-header" style="height: 100%; margin-top: 5%; padding-left: 1%; padding-right: 1%">
        <div>
            <label for="datePayroll">Date</label>
            <input id="datePayroll" type="date" />
        </div>
        <div id="gridPayroll" ui-grid="gridOptions" ui-grid-edit class="payrollGrid"></div>        
    </div>
</script>
