<script id="PayrollTemplate" type="text/ng-template">
    <div class="page-header" style="height: 100%; margin-top: 5%; padding-left: 1%; padding-right: 1%">
        <div>
            <p class="input-group">
                <span>
                    {{payrollDate}}
                    <button type="button" class="btn btn-default" ng-click="data.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>                    
                </span>
                <input ng-show="false" type="date" class="form-control" uib-datepicker-popup ng-model="dt" is-open="data.opened" min-date="minDate" max-date="maxDate" datepicker-options="data.dateOptions" close-text="Close" />                
            </p>
        </div>
        <div id="gridPayroll" ui-grid="gridOptions" ui-grid-edit ui-grid-cellnav class="payrollGrid"></div>        
    </div>
</script>
